absl-py==0.15.0
aiodns==3.0.0
aiofiles==22.1.0
aiohttp==3.8.5
aiosignal==1.3.1
aiosqlite==0.19.0
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1643780403162/work
annotated-types==0.5.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1641898027206/work/dist
appdirs==1.4.4
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1640855148858/work
arrow==1.2.3
asgiref==3.7.2
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autogluon.core==0.3.1
autogluon.features==0.3.1
autogluon.tabular==0.3.1
autograd==1.6.2
autograd-gamma==0.5.0
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
bayesian-optimization==1.1.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bentoml==1.1.6
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1643636307408/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blinker==1.6.2
blis==0.7.10
boto3==1.28.47
botocore==1.31.47
Brotli==1.1.0
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012188166/work
build==1.0.3
cachetools==5.2.0
catalogue==2.0.9
catboost==0.24.3
cattrs==23.1.2
cchardet==2.1.7
certifi==2023.7.22
certipy==0.1.3
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1643649795184/work
circus==0.18.0
clang==5.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1635822600067/work
click-option-group==0.5.6
cloudpickle==2.2.1
cmake==3.27.4.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorlog==4.7.2
colorlover==0.3.0
comm==0.1.4
conda==4.11.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1636021700973/work
confection==0.1.3
ConfigSpace==0.4.19
confluent-kafka==2.2.0
contextlib2==21.6.0
cryptography==41.0.3
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.7
Cython==3.0.2
dacite==1.8.1
dask==2021.3.0
databricks-cli==0.17.7
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
db-dtypes==1.1.1
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1636043259437/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepmerge==1.1.0
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.14
descartes==1.1.0
dill==0.3.3
distributed==2021.3.0
dnspython==2.4.2
docker==6.1.3
emoji==1.2.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
eunjeon==0.4.0
exceptiongroup==1.1.3
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1633213722787/work
fastjsonschema==2.18.0
filelock==3.12.4
Flask==2.3.3
flatbuffers==1.12
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1640697294996/work/source/flit_core
fqdn==1.5.1
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.9.0
ftfy==6.1.1
funcy==2.0
future==0.18.3
gast==0.4.0
gensim==3.8.1
gitdb==4.0.10
GitPython==3.1.36
gluonnlp==0.8.3
google-api-core==2.11.1
google-api-python-client==2.99.0
google-auth==2.23.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.11.4
google-cloud-bigquery-storage==2.2.1
google-cloud-core==2.3.1
google-cloud-monitoring==2.0.0
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
gpytorch==1.11
graphviz==0.8.4
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1635836784510/work
grpcio==1.58.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.1.0
haversine==2.3.1
hmsclient-hive-3==0.1.1
htmlmin==0.1.12
httplib2==0.22.0
huggingface-hub==0.16.4
hvac==0.11.2
icu==0.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
ImageHash==4.3.1
imbalanced-learn==0.11.0
implicit==0.5.2
importlib-metadata==6.0.1
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
imutils==0.5.4
inflection==0.5.1
iniconfig==2.0.0
install==1.3.5
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1644262469627/work/dist/ipykernel-6.9.0-py3-none-any.whl
ipyparallel==8.2.1
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1642613634924/work
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaxtyping==0.2.19
jedi==0.19.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jmespath==1.0.1
joblib==1.3.2
JPype1==1.4.1
JPype1-py3==0.5.5.4
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter-resource-usage==1.0.0
jupyter-server-mathjax==0.2.6
jupyter-telemetry @ file:///home/conda/feedstock_root/build_artifacts/jupyter_telemetry_1605173804246/work
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterhub==4.0.2
jupyterlab==4.0.9
jupyterlab-execute-time==2.3.1
jupyterlab-git==0.41.0
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-tensorboard-pro==4.0.0
jupyterlab-widgets==3.0.9
jupyterlab_code_formatter==2.2.1
jupyterlab_server==2.25.0
kenlm @ https://github.com/kpu/kenlm/archive/master.zip#sha256=4d002dcde70b52d519cafff4dc0008696c40cff1c9184a531b40c7b45905be6b
keras==2.13.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
kmodes==0.12.2
konlpy==0.6.0
kss==4.5.4
langcodes==3.3.0
langid==1.1.6
libcst==1.0.1
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1643117251182/work/libmambapy
lifelines==0.24.2
lightgbm==2.3.1
LightGBMwithBayesOpt==1.0.2
linear-operator==0.5.2
lit==16.0.6
llvmlite==0.40.1
locket==1.0.0
lxml==4.9.3
mabalgs==0.6.8
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1637170539581/work
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1643117251182/work/mamba
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.2.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mdurl==0.1.2
mistune==3.0.1
mizani==0.9.3
mlflow==2.7.0
mlxtend==0.22.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
murmurhash==1.0.9
mushroom-rl==1.4.0
mxboard==0.1.0
mxnet==1.9.1
mxnet-cu101==1.5.1
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1635839660470/work
mysqlclient==2.2.0
nbclassic==1.0.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1642144614450/work
nbconvert==7.8.0
nbdime==3.2.1
nbformat==5.9.2
nbgitpuller==1.2.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
netcal==1.3.5
networkx==2.8.8
nltk==3.8.1
nodejs-bin==18.4.0a4
nodejs-cmd==0.0.1a0
notebook==6.5.5
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.8.6
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
odfpy==1.4.1
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
openpyxl==3.1.2
opensearch-py==2.3.1
opentelemetry-api==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-instrumentation-aiohttp-client==0.39b0
opentelemetry-instrumentation-asgi==0.39b0
opentelemetry-sdk==1.18.0
opentelemetry-semantic-conventions==0.39b0
opentelemetry-util-http==0.39b0
opt-einsum==3.3.0
overrides==7.4.0
packaging==23.1
pamela==1.0.0
pandas==1.1.5
pandas-gbq==0.19.2
pandas-profiling==3.6.6
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko==3.3.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.0
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pathy==0.10.2
patsy==0.5.3
pecab==1.0.8
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
phik==0.12.3
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.0.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
plotly==5.16.1
plotnine==0.7.1
pluggy==1.3.0
preshed==3.0.8
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1643395600215/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1643362612956/work
proto-plus==1.22.3
protobuf==3.20.1
psutil==5.8.0
psycopg2==2.9.7
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyathena==2.5.1
pybind11==2.11.1
pycares==4.3.0
pycaret==2.2
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1636020377748/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome==3.18.0
pycurl==7.44.1
pydantic==2.3.0
pydantic_core==2.6.3
pydata-google-auth==1.8.0
pyfarmhash==0.3.2
pygame==2.5.1
PyGithub==1.59.1
Pygments==2.16.1
PyHive==0.6.2
PyJWT==2.8.0
pyLDAvis==3.4.0
pymongo==4.5.0
PyMySQL==1.1.0
PyNaCl==1.5.0
pynndescent==0.5.10
pynvml==11.5.0
pyod==1.1.0
pyOpenSSL==23.2.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyproject_hooks==1.0.0
pyro-api==0.1.2
pyro-ppl==1.8.6
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1642534367111/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404924/work
pytest==7.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.7
python-mecab-ko==1.3.3
python-mecab-ko-dic==2.1.1.post2
python-multipart==0.0.6
pytorch-widedeep==0.3.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyWavelets==1.4.1
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==24.0.1
querystring-parser==1.2.4
recbole==1.0.0
redis==5.0.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-aws4auth==1.2.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
RL-for-reco==1.0.26
rpds-py==0.10.3
rsa==4.8
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1636009157217/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1640809668390/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1636815630003/work
s3transfer==0.6.2
sasl==0.3.1
schema==0.7.5
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.6.0
seaborn==0.11.1
Send2Trash==1.8.2
shap==0.35.0
simple-di==0.1.5
simplejson==3.19.1
six==1.15.0
skt==0.2.92
sktmls==2023.3.10
slackclient==2.9.4
smart-open==6.4.0
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1635844649950/work
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spark-nlp==5.1.1
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1642761936624/work
sqlparse==0.4.4
srsly==2.4.7
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1642255706390/work
starlette==0.31.1
statsmodels==0.14.0
streamz==0.6.4
sympy==1.12
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tblib==2.0.0
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboardX==2.1
tensorflow==2.6.0
tensorflow-estimator==2.14.0
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1643296481555/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
textblob==0.17.1
texttable==1.7.0
thinc==8.1.12
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
thrift==0.16.0
thrift-sasl==0.3.0
tikzplotlib==0.9.8
tinycss2==1.2.1
tokenizer==3.4.3
tokenizers==0.14.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1639523130782/work
toolz==0.12.0
torch==1.8.1
torchaudio==0.9.1
torchsummary==1.5.1
torchvision==0.10.1+cu111
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets==5.9.0
triton==2.1.0
typed-ast @ file:///home/conda/feedstock_root/build_artifacts/typed-ast_1643045767561/work
typeguard==2.13.3
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
umap-learn==0.5.3
unicodeblock==0.3.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
uvicorn==0.23.2
visions==0.7.5
wasabi==1.1.2
watchfiles==0.20.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
Werkzeug==2.3.7
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.12.1
xgboost==1.2.1
xlearn==0.4.3
xlrd==2.0.1
XlsxWriter==3.1.3
y-py==0.6.0
yarl==1.9.2
ydata-profiling==4.5.1
yellowbrick==1.5
ypy-websocket==0.8.4
zict==3.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
zstandard==0.21.0
